@import "tailwindcss";

@theme {
  --color-dentista-pink: #F2277E;
  --color-dentista-teal: #52A8A2;
  --color-dentista-light: #F4F4F4;
  --color-dentista-dark: #111111;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: #FAFAFA;
  color: var(--color-dentista-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
